/* popup */
.popup {
  display: none;
  position: absolute;
  top: 8%;
  left: 60%;
  /* transform: translate(-1%, -100%); */
  width: 34rem;
  height: 25rem;
  padding: 1rem 2rem;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 0.8rem;
}

.pink-line {
  position: relative;
  top: -34%;
}
.pink-line > hr {
  border-bottom: 1px solid#fda5ff;

  z-index: 0;
}
/* text */
h4 {
  text-align: center;
  margin-top: 1rem;
}
strong {
  text-decoration: underline;
  color: #00ffa2;
  font-weight: 700;
}
/* btns */
.popup .close-btn {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #888;
  color: #eee;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.chat-btn {
  width: 20rem;
  margin: 0 auto;
}

/* user */
.user1,
.user2 {
  display: flex;
  position: static;
  text-align: center;
  flex-direction: column;
  margin-top: 20px;
}

.user1 {
  float: left;
}
.user2 {
  float: right;
}
.user1 > div,
.user2 > div {
  display: block;
  z-index: 1;
}
/* img */
.popup-img,
.prof-img {
  background-position: center;
  background-size: cover;
}
.popup-img {
  width: 150px;
  height: 150px;
}
.prof-img {
  position: relative;
  justify-content: center;
  z-index: 1;
}
.prof-img > div {
  width: 50px;
  height: 50px;
}
.popup-img img,
.prof-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.popup-img img {
  border-radius: 20px;
}
.prof-img img {
  border-radius: 100px;
}
