/* background */
.bg {
  background-image: url("/public/images/cookingfriends/group-table.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* top navbar */
.top-nav-bar {
  background-color: rgba(0, 0, 0, 0);
}
.top-nav-bar a {
  color: white;
}

/* connect btn */
.connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-style: italic;
  text-align: center;
}

/* Login popup */
.popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24rem;
  padding: 1rem 2rem;
  background: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 0.8rem;
}

h4 {
  text-align: center;
}

.popup .close-btn {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #888;
  color: #eee;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.login-form {
  color: #333;
  margin: 1rem 0rem;
}

.form-element {
  margin-top: 1rem;
}
label {
  font-size: 1rem;
}

input[type="text"],
input[type="password"] {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 0.8rem;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-right: 10rem;
}

.login-btn {
  padding: 0.8rem;
  width: 100%;
}

#forgot-password {
  float: right;
}

a {
  text-decoration: none;
  color: #ffaf00;
}
