/* containers */
.container {
  height: auto;
  max-width: 1024px;
  margin: 0 auto;
  background: hotpink;
  display: flex;
  flex-wrap: wrap;
}

.container > div {
  width: 100%;
  /* temp */
  margin-bottom: 2rem;
  padding: 2rem;
}
.break {
  flex-basis: 100%;
  height: 0;
}

/* profile-details */
.profile-details {
  background-color: white;
  flex-direction: row;
}
.details-right {
  height: 18rem;
  display: flex;
  flex-direction: column;
}
.profile-top {
  background-color: brown;
  display: flex;
  float: left;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 1rem 0;
}
.profile-top > div {
  margin: 0 0.5rem;
}
.name-age {
  background-color: bisque;
}
.profile-middle {
  display: flex;
}
.icon1,
.icon2 {
  width: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: bisque;
}
.icon1-text,
.icon2-text {
  width: 8rem;
  display: flex;
  flex-direction: column;
  background-color: bisque;
  margin-left: 0.1rem;
  line-height: 2rem;
}
/* profile image */
.profile-image {
  width: 9rem;
  position: relative;
  margin: 0 5rem 0 2rem;
  float: left;
}

img {
  width: 100%;
  display: block;
  border-radius: 100px;
}

/* recipe-list */
.recipe-list {
  background-color: bisque;
}

/* buttons */
.profile-top button {
  padding: 0.2rem 1rem;
}
.profile-details i {
  color: #555;
  margin: 0 0.5rem;
  line-height: 2rem;
}
