/* containers */
.container {
  height: auto;
  max-width: 935px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

/* profile image */
.profile-image {
  width: 11rem;
  position: relative;
  margin: 0 4rem 0 2rem;
  float: left;
}
.prof-img {
  width: 100%;
  display: flex;
  border-radius: 100px;
}
/* profile-details */
.profile-details {
  background-color: white;
  flex-direction: row;
  height: 28rem;
  margin-bottom: 1rem;
  padding: 2rem 1rem;
}
.details-right {
  height: 18rem;
  display: flex;
  flex-direction: column;
}
.profile-top {
  display: flex;
  float: left;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 1rem;
}
.profile-top > div {
  margin: 0 0.5rem;
}

.profile-middle {
  display: flex;
}
.icon1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.icon1 > i {
  cursor: auto;
}

.bio {
  margin-top: 1rem;
  width: 90%;
}
/* table */
table {
  margin: 0.8rem;
  border-collapse: collapse;
  max-width: 85%;
}
th,
td {
  text-align: center;
  padding: 0 1rem;
  line-height: 1.6rem;
}
.column1 {
  padding-left: 0;
  width: 1rem;
}
.column2,
.column3 {
  border-left: 1px solid #dcdcdc;
  padding: 0 1rem;
}
.row2 > td {
  color: #ffaf00;
}
.row3 > td {
  color: #a1de53;
}
.row4 > td {
  color: #00ffa2;
}
/* recipes-followers-following */
.recipes-followers-following {
  position: relative;
  top: -4.2rem;
  left: 3.8rem;
  width: 8rem;
  text-align: center;
}
/* divider */
hr {
  border-bottom: 1px solid #dcdcdc;
}
/* profile navbar */
.lower-navbar button {
  width: 7.5rem;
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
  color: #a3a3a3;
  padding: 0.88rem;
}
.lower-navbar a {
  text-decoration: none;
}
.lower-navbar li {
  padding: 0;
}

/* buttons */
.profile-top button {
  padding: 0.2rem 1rem;
}
.profile-details i {
  color: #555;
  margin: 0 0.5rem;
  line-height: 2rem;
}

.btn:hover {
  color: #00ffa2;
  border-bottom: 3px solid #00ffa2;
}

/* recipe-list */
.add-recipe {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-recipe > a {
  background-color: transparent;
  font-size: 40px;
  color: #00ffa2;
  text-decoration: none;
}
.add-recipe > button:hover {
  color: #00cc81;
}
.recipes-container {
  padding: 0 1rem;
  width: 100%;
  padding: 0 0;
}
.recipes-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 9rem;
}
.recipes-grid > div {
  background-color: white;
  margin: 1rem 5px;
  display: flex;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  cursor: pointer;
}
.recipe-img {
  background-color: white;
  width: 112px;
  float: left;
}
.recipe-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}
.recipe-details {
  display: flex;
  width: 10rem;
  flex-direction: column;
}
.recipe-middle {
  display: flex;
}
.recipe-title {
  padding-bottom: 5px;
}
.icon2,
.icon3 {
  width: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.icon2 {
  margin-left: 5px;
}
.icon3 {
  margin-left: 15px;
}
.icon2 > i,
.icon3 > i,
.iconify {
  color: #333;
  font-size: 1.2rem;
  line-height: 1.5rem;
  cursor: auto;
}
.icon2-text > p,
.icon3-text > p {
  width: 2.5rem;
  display: flex;
  flex-direction: column;
  margin-left: 0.1rem;
  line-height: 1.2rem;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

/* rate */
.rate > p {
  font-size: 10px;
  text-align: center;
  line-height: 2rem;
  color: #ffaf00;
  float: right;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffaf00;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #e6a313;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #db9601;
}
/* search */
