/* containers */
.container {
  height: auto;
  max-width: 935px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

/* profile image */
.profile-image {
  width: 11rem;
  position: relative;
  margin: 0 4rem 0 2rem;
  float: left;
}
.prof-img {
  width: 100%;
  display: flex;
  border-radius: 100px;
}
/* profile-details */
.profile-details {
  background-color: white;
  flex-direction: row;
  height: 28rem;
  margin-bottom: 1rem;
  padding: 2rem 1rem;
}
.details-right {
  height: 18rem;
  display: flex;
  flex-direction: column;
}
.profile-top {
  /* background-color: brown; */
  display: flex;
  float: left;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 1rem;
}
.profile-top > div {
  margin: 0 0.5rem;
}
.name-age {
  /* background-color: bisque; */
}
.profile-middle {
  display: flex;
}
.icon1,
.icon2 {
  width: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: bisque; */
}
.icon1-text,
.icon2-text {
  min-width: 8rem;
  max-width: 28rem;
  display: flex;
  flex-direction: column;
  /* background-color: bisque; */
  margin-left: 0.1rem;
  line-height: 2rem;
}
.bio {
  margin-top: 1rem;
  width: 90%;
}
/* table */
table {
  margin: 0.8rem;
  border-collapse: collapse;
  max-width: 85%;
}
th,
td {
  text-align: center;
  padding: 0 1rem;
  line-height: 1.6rem;
}
.column1 {
  padding-left: 0;
  width: 1rem;
}
.column2,
.column3 {
  border-left: 1px solid #dcdcdc;
  padding: 0 1rem;
}
.row2 > td {
  color: #ffaf00;
}
.row3 > td {
  color: #a1de53;
}
.row4 > td {
  color: #00ffa2;
}
/* recipes-followers-following */
.recipes-followers-following {
  position: relative;
  top: -4.2rem;
  left: 3.8rem;
  width: 8rem;
  text-align: center;
}
/* divider */
hr {
  border-bottom: 1px solid #dcdcdc;
}
/* profile navbar */
.lower-navbar button {
  width: 7.5rem;
  background-color: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
  color: #a3a3a3;
  padding: 0.88rem;
}

.lower-navbar li {
  padding: 0;
}

/* buttons */
.profile-top button {
  padding: 0.2rem 1rem;
}
.profile-details i {
  color: #555;
  margin: 0 0.5rem;
  line-height: 2rem;
}
.profile-details i:hover {
  color: rgb(39, 39, 39);
}
.active,
.btn:hover {
  color: #00ffa2;
  border-bottom: 3px solid #00ffa2;
}

/* recipe-list */
.recipes-container {
  background-color: bisque;
  padding: 0 1rem;
  width: 100%;
}
.search {
  background-color: #a1de53;
  width: 40%;
  position: relative;
  left: 30%;
}
.recipes-grid {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  background-color: #ffaf00;
}
.recipes-grid > div {
  background-color: aqua;
  margin: 1rem 1rem;
  /* width: 33%; */
}
