.recipes-container {
  margin-top: 25px;
  background-color: white;
}
.title {
  margin: 5px;
}

/* image */
.food-img {
  background-color: white;
  width: 400px;
  height: 400px;
}
.food-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px;
}
